<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Persoane</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>

        </div>
    </nav>
</header>

<main role="main" class="container">
    <h1 class="mt-5">Lista persoane</h1>
    <a href="/edit">Adauga user nou</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Nume</th>
            <th>Varsta</th>
            <th>Actiuni</th>
        </tr>
        <tr th:each="u: ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.name}"></td>
            <td th:text="${u.age}"></td>
            <td>
                <form action="/remove" method="post">
                    <input name="id" hidden th:value="${u.id}">
                    <button>Sterge</button>
                </form>
                <form action="/edit" method="get">
                    <input name="id" hidden th:value="${u.id}">
                    <button>Editare
                    </button>
                </form>
            </td>
        </tr>

    </table>

    <a th:if="${prevPageVisible}" th:href="@{'/users?page=' + ${prevPage}}">PREV PAGE</a>
    <a th:if="${nextPageVisible}" th:href="@{'/users?page=' + ${nextPage}}">NEXT PAGE</a>

</main>
</body>
</html>